
.bgContainer {
	z-index:1;
	background:url(./../images/sfondi/sfondo3.png) no-repeat fixed center center / cover;
}

@charset "UTF-8";
/* CSS Document */

body,html {
	margin:0;
	width:100%;
	overflow:hidden;
}
.overflowHidden {
	overflow:hidden;
}
.hidden{
	display:none;
}
.mainContainer,
.bgContainer {
	width:100%;
	height:100%;
}
.imgContainer {
	position:relative;
	margin:0 auto;
	text-align:center;
	z-index:100;
}
.imgContainer img,
.bgContainer{
	height:100%;
	top:0;
	left:0;
	position:absolute;
}
.imgBG {
	opacity:0.30;
}

.bg {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.bg1 {
	z-index:2;
}
.paletteContainer,
.paletteContainerInn  {
	position:absolute;
	top:0;
	left:0;
}
.paletteContainerInn {
	top:50%;
}
.paletteContainer .palette {
	height:70%;
	position:relative;
	z-index:20;
	top:0;
	left:-50px;
}
.colorsContainer {
	height:auto;
	position: relative;
    z-index: 100;
}
.colorsContainer img{
	position:absolute;
}
.colorsContainer img.colours1{
	right: 99px;
    top: 51px;
	background:red;
}
.colorsContainer img.colours2{
	right: 77px;
    top: 135px;
	background:green;
}
.colorsContainer img.colours3{	
	right: 88px;
    top: 230px;
	background:orange;
}
.colorsContainer img.colours4{
	right: 127px;
    top: 319px;
	background:pink;
}
.colorsContainer img.colours5{
	top:400px;
	right:200px;
}
.homeButunera {
	position:absolute;
	z-index:10;
	bottom:0;
	left:0;
	height:48%;
	width:34%;
}
.homeButunera a {
	display:block;
}
.homeButunera img {
	height:100%;
	width:100%;
}
.homeButunera .home_btn1{
	height:25%;
	margin:7% 0 0 0%;
}
.homeButunera .home_btn2{
	height:15%;
	margin:5% 0 0 3%;
}
.homeButunera .home_btn3{
	height:21%;
	margin:2% 0 0 9%;
}
.home_logoInvenktion {
	position:absolute;
	z-index:11;
	right:0;
	bottom:-5px;
	display:block;
	width:20%;
}
.home_logoInvenktion img{
	width:100%;
	height:100%;
}

.mubcanvas {
	position: fixed;
	z-index: 15;
	overflow: hidden;
	top: 0px;
	left:0px;
	border: 1pt solid #000;
}