@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.animating {  
    -webkit-animation-name: scale;  
    -webkit-animation-timing-function: linear;  
    -webkit-animation-duration: 200ms; 
}